.archive-item {
    font-size: .35rem;
    padding: .2rem .4rem;
    margin: .1rem .2rem .1rem 0;
    border-radius: .4rem;
    color: #fff;
    transition: opacity .1s ease;
}

.archive-item>span:first-child {
    margin-right: .1rem;
}

.archive-item:active {
    opacity: .5;
}