.article-list {
    position: relative;
    padding: .3rem .3rem 1.3rem;
}

.article-load-more {
    text-align: center;
    background-color: transparent;
    font-size: .4rem;
    color: #fff;
    margin: .3rem 0;
    opacity: 0;
    animation: fade-in .3s ease forwards .3s;
}

.article-load-more>span {
    color: #aeaeae;
    padding: .1rem;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}