.article-list {
    position: relative;
    padding: .3rem .3rem;
}

.article-load-more {
    text-align: center;
    background-color: transparent;
    font-size: .4rem;
    color: #fff;
    margin: .3rem 0;
    opacity: 0;
    animation: fade-in .3s ease forwards .3s;
}

.article-load-more>span {
    color: #aeaeae;
    padding: .1rem;
}

.article-load-more>.no-more {
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    animation: fade-in .2s ease forwards;
}

.article-load-more>.no-more::before, .article-load-more>.no-more::after {
    content: '';
    width: 30%;
    height: 1px;
    background-color: #aeaeae;
    margin: 0 5%;
    transform: scaleY(.5);
    transform-origin: center center;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}