.blog-box img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.9);
    opacity: 0;
    animation: fade-in 5s linear forwards;
}

.blog-box img.init {
    opacity: 1;
    animation: none;
}

.box-countdown {
    position: absolute;
    top: 0;
    right: 0;
    width: 1.5rem;
    height: 1.5rem;
    z-index: 9999;
    color: #fff;
    font-size: .5rem;
    font-family: Lai-Hu;
    background: url('./love.png') center center no-repeat;
    background-size: 100% 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: heartbeat 1s ease-in-out infinite;
    opacity: .6;
}

.box-container {
    position: absolute;
    top: 30%;
    left: 10%;
    width: 80%;
    z-index: 9999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.box-container>div {
    color: #c0392b;
    text-align: center;
    font-size: .5rem;
    font-family: Lai-Hu;
    line-height: 2;
    flex-basis: 46%;
    background-color: rgba(255, 255, 255, .7);
    border-radius: .2rem;
    margin: .2rem 0;
    transition: all .2s ease;
}

.box-container>div:active {
    background-color: rgba(255, 255, 255, .9);
    transform: scale(.95);
    transform-origin: center center;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes heartbeat {
    from {
        transform: scale(1);
        animation-timing-function: ease-out;
    }
    10% {
        transform: scale(0.91);
        animation-timing-function: ease-in;
    }
    17% {
        transform: scale(0.98);
        animation-timing-function: ease-out;
    }
    33% {
        transform: scale(0.87);
        animation-timing-function: ease-in;
    }
    45% {
        transform: scale(1);
        animation-timing-function: ease-out;
    }
}